/* twosome_main_snsBox.css */

#snsBox { width:100%; height:500px;}

.sns_wrap { width:960px; height:100%; margin:auto;
  padding:80px 0 0; box-sizing: border-box;}

  .sns_wrap h2 { width:100%; height:auto; margin:auto;
    margin-bottom:30px; text-align:center;}

  .sns_img_area { width :850px; height:auto; margin:auto;}
  .sns_img_area li { float:left; width :160px; height:160px; 
    margin:5px; }
  .sns_img_area li a { display:block; width:100%; height:100%;
    background-repeat: no-repeat; background-size: contain;}
  .sns_img_area li:nth-child(1) a 
    {background-image: url(../../../../img/main_view/sns_01.png);}
  .sns_img_area li:nth-child(2) a 
    {background-image: url(../../../../img/main_view/sns_02.png);}
  .sns_img_area li:nth-child(3) a 
    {background-image: url(../../../../img/main_view/sns_03.png);}
  .sns_img_area li:nth-child(4) a 
    {background-image: url(../../../../img/main_view/sns_04.png);}
  .sns_img_area li:nth-child(5) a 
    {background-image: url(../../../../img/main_view/sns_05.png);}

  .sns_wrap 
  .sns_link { display:block; margin: 240px auto;
    width: 120px; height:50px; text-align:center; font-size:1.4rem;
    background-color: #fff;}