/* twosome_main_footBox.css */

#footBox { width:100%; height:330px; padding-top:50px;
  box-sizing: border-box;
  background-color: #000;}

.foot_outer { width:1000px; height:150px; margin:auto; }

.foot_outer ul { float:left; 
  font-size:0.7rem; font-weight:600; color:#aaa;}
.foot_outer ul:nth-child(2) { margin-left:50px;}
.foot_outer ul:last-child { float:right;}
.foot_outer ul li { margin-bottom:10px;}
