/* twosome_main_snsBox.css */

#snsBox { width:100%; height:500px;}

.sns_wrap { position:relative; width:960px; height:100%; margin:auto;
  padding:80px 0 0; box-sizing: border-box;}

  .sns_wrap h2 { width:100%; height:auto; margin:auto;
    margin-bottom:30px; text-align:center;}

  .sns_img_area { width :850px; height:auto; margin:auto;}
  .sns_img_area li { float:left; width :160px; height:160px; 
    margin:5px; }
  .sns_img_area li a { display:block; width:100%; height:100%;
    background-repeat: no-repeat; background-size: contain;}
  .sns_img_area li:nth-child(1) a 
    {background-image: url(../../../../img/main_view/sns_01.png);}
  .sns_img_area li:nth-child(2) a 
    {background-image: url(../../../../img/main_view/sns_02.png);}
  .sns_img_area li:nth-child(3) a 
    {background-image: url(../../../../img/main_view/sns_03.png);}
  .sns_img_area li:nth-child(4) a 
    {background-image: url(../../../../img/main_view/sns_04.png);}
  .sns_img_area li:nth-child(5) a 
    {background-image: url(../../../../img/main_view/sns_05.png);}

  .sns_btn { position: absolute; top:340px; left:0; right:0;
    margin:auto;
    width: 120px; height:30px; text-align:center;
    border:1px solid #f03344;  
    background-color: #fff;}
  .sns_btn a { display:block; color:#f03344; line-height: 30px;
    font-size:1rem; line-height:30px;}