/* twosome_brand_BrandBox.css */

#brandBox { width:100%; height:auto; padding-top:80px;
  box-sizing: border-box;}

.brand_01 { width:70%; height:500px; margin:auto;
  background-color: #ddd;}

/* ============================================ */
.brand_02 { width:70%; height:500px; margin:auto;
  background-color: #ccc;}

/* ============================================ */
.brand_03 { width:70%; height:500px; margin:auto;
  background-color: #eee;}